---
title: Captain Orion's Lost Log
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <header>
    <h1><a href="/">Captain Orion's Lost Log</a></h1>
  </header>

  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the explorer">About</a></li>
    </ul>
  </nav>
  <main>
    {{ content }}
  </main>

  <footer>
    <p> Lost in space since 3025.</p>
  </footer>
</body>
</html>